/*
** generic
*/
html, body {height:100%;}
body {font-size:2em;}
.bg {background:#e6f1f9;}
.footer {background-color:#0072c6; border-top:6px solid #e6f1f9;}
.container-fluid {background:#fff; padding:10px 20px 40px 20px;}
ul {margin-top:20px;}
ul ul {margin-top:5px;}
li {margin-bottom:10px;}
a:focus {outline:none;}
.margintop40 {margin-top:40px;}
.label-danger {font-size:1.5em;}
blockquote {font-size:1em;}
h1 {margin-bottom:20px;}
/*
** intro page
*/

.jumbotron {padding:50px 0; text-align: center;}
.logo {margin-bottom:20px;}
.wrap {display:table; height:100%; width:100%;}
.wrap__content {display:table-cell; vertical-align:middle;}

/*
** nav
*/
.navbar {background:#fff; border-bottom:0; padding:40px 20px 20px 20px;}
.branding {position:absolute; right:30px; top:30px;}
.navbar ul {margin-top:0;}
.navbar li {margin-right:4px;}
.nav-tabs > li {margin-bottom:0;}
.nav-tabs > li > a {background:#efefef; color:#aaa; margin-right:0;}
.nav-tabs > li > a:hover {border-color:#0072c6; color:#0072c6;}
li.active a {background:#0072c6 !important; color:#fff !important;}

/*
** content
*/
.tab-content {padding:10px 20px;}
.tab-pane {margin-top:6em;}
.link__external {background-image: url(data:image/gif;base64,R0lGODlhCQAJAJEDAA9tu/D2+wBkt////yH5BAEAAAMALAAAAAAJAAkAAAITnC0px6o40gkArUEbi1Bz7zxDAQA7); background-position:right top; background-repeat:no-repeat; padding-right:12px;}


@media (max-width:700px) {
  .navbar {padding-top:80px;}
  .tab-pane {margin-top:8em;}
}

@media (max-width:490px) {
  .tab-pane {margin-top:9em;}
}
